* {
    box-sizing: border-box;
}

.header {
    height: 50px;
    width: 100%;
    background-color: lightcoral;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: lightcoral;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.title {
    text-align: center;
}
.article {
    width: 50%;
    border: 1px solid black;
}
.tag-container {
    display: flex;
    flex-wrap: wrap;
}
.tag {
    width: 33.33%;
    text-align: center;
    border: 1px solid black;
}
.menu-items {
    list-style-type: none;
}
.rechercher{
    float: right;
    margin-top: 12px;
}

.view:hover {
     transform: translateX(0px);
}
.hidden {
     margin: -84px;
     width: 80px;
    transform: translateX(-80px);
    transition: transform 4000ms;
    z-index: -5;

}